@font-face {
    font-family: "OngleleafUijin";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafUijin/OngleleafUijin.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafUijin/OngleleafUijin.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafUijin/OngleleafUijin.ttf") format("truetype");
    font-display: swap;
}

.OngleleafUijin {
    font-family: "OngleleafUijin";
}
